/* The body's font-size is smaller by default */
body {
  font-size: 16px;
}


img {
  max-width: 100%;
}


.title {
  text-align:  center;
}

.container {
  max-width:  700px;
  margin:  0 auto;
}



@media (max-width: 600px) {
  body {
    background-color:  black;
    color:  white;
  }
}
